.overlay {

}
.hide{
    display: none !important;
}
.logged {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
    width: 80%;
}
div #store {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
}
#availableInventory td {
    border: 1px solid grey;
    background-color: bisque;
}
h1{
    text-align: center;
}
#applicationMessage{
    background-color:lightgray;
    margin: auto auto;
    margin-bottom:10px;
    width: 65%;
    height:3em;
}

#landing-form {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

#landing-form form {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}
