html {
    --donut-animation:donut 3s;
}

@keyframes donut {
    0%   {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);

    }
    50%  {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);

    }
    100% {
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        transform: rotate(359deg);

    }
  }
  #donutImage {
    width:100px;

}
 .loading{
      animation: var(--donut-animation);
      animation-iteration-count: infinite;
  }
  .row{
      display: flex;
      flex-direction: row;
      justify-content: center;

  }
  .column{
    display: flex;
    flex-direction: column;
    align-items: center;

}
html{

}
a {
    color: rgb(35, 192, 192);
    text-decoration: none;
}
nav {
    display: flex;
    flex-direction: column;
    
}
a:hover {
    text-decoration: underline;
    color:rgb(175, 133, 78);
}

.hide{
    display: none !important;
}
.logged {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
}
div #store {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    margin: 0 20px;
}
#availableInventory td {
    border: 1px solid grey;
    background-color: bisque;
}
h1{
    text-align: center;
}
#applicationMessage{
    background-color:lightgray;
    margin: auto auto;
    margin-bottom:10px;
    width: 65%;
    height:3em;
}

#landing-form {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

#landing-form form {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

#menuTable th {
    background-color: aqua;
}
#menuTable th:hover {
    cursor: pointer;
    background-color: yellowgreen;
}